body {
    text-align: center;
    margin-top: 50px;
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
    background: blue;
    color: white;

}

#flashing-header {
    font-family: "Times New Roman", Times, serif;
    font-size: 17vw;
    font-weight: bold;
}

.clock {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 7vw;
}

h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size:12vw;
}

h2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size:7vw;
}

a:any-link {
  color: #0FFF00;
}

a:visited {
  color: #FF0000;
}

a:hover {
  color: #FFFF00;
}

a:active {
  color: #0FFF00;
}

.blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }

.container {
    .container 
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    min-height: 100vh;       /* Full height of the viewport */
    padding: 20px;
    text-align: center;      /* Center text */
}

.logo {
    max-width: 100%;
    height: auto;
}

.nav-links {
    margin-top: 20px;
}

.nav-links a {
    margin: 0 15px; /* Adjust the margin to control spacing */
    text-decoration: none;
    color: #FFFFFF;
    font-size: 7vw;
}

.nav-links a:hover {
    text-decoration: underline;
}


mog {
    text-family: "Times New Roman," Times, serif;
    font-weight: bold;
    font-spacing: 0px;
    font-size: 8vw;
}
