body {
    text-align: center;
    margin-top: 50px;
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
    background: blue;
    color: white;

}

#flashing-header {
    font-family: "Times New Roman", Times, serif;
    font-size: 7vw;
    font-weight: bold;
}
